/* RESET */
*,
*::before,
*::after { box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
}

body { min-height: 100vh; }

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button{ font: inherit; }

/* UTILITIES */
.group{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-inline: .75em;
}

@media screen and (min-width: 50em) {
    .group--ad{
        grid-column: 2;
    }

    .group--video{
        padding-inline: 0;
    }

    .group--header{
        padding-inline: 0;
    }
}

/* media */
@media screen and (max-width: 50em){
   .sm\:d-block{
       display: block !important;
   }
   .sm\:d-none{
       display: none !important;
   }
}

@media screen and (min-width: 50em){
    .md\:d-block{
        display: block !important;
    }

    .md\:d-none{
        display: none !important;
    }
}

@media screen and (min-width: 64em) {
    .lg\:d-none{
        display: none !important;
    }

    .lg\:d-block{
        display: block !important;
    }
}

/* GENERAL */
body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #0F0F0F;
}

a{
    text-decoration: none;
    color: #065FD4;
}

/* TYPOGRAPHY */
.title,
.subtitle-1,
.subtitle-2{
    line-height: 1.2;
}

.title{
    font-size: 14px;
    font-weight: 500;
}

@media screen and (min-width: 50em) {
    .title{
        font-size: 16px;
    }
}

.subtitle-1{
    font-size: 12px;
}

@media screen and (min-width: 50em) {
    .subtitle-1{
        font-size: 14px;
    }

    .subtitle-2{
        font-size: 12px;
    }
}

.semibold{
    font-weight: 500;
}

.subcolor{
    color: #606060;
}

/* images */
.avatar__img{
    max-width: revert;
    width: 40px;
    height: 40px;
    border-radius: 100vmax;
}

@media screen and (min-width: 50em) {
    .avatar__img--ad{
        width: 80px;
        height: 80px;
        object-fit: contain;
    }
}

.propaganda__img,
.player__img{
    width: 100%;
}

@media screen and (min-width: 50em) {
    .propaganda__img,
    .player__img{
        border-radius: 12px;
    }
}

/* buttons */
.btn{
    --border-radius: 100vmax;
    --padding-block: .625em;
    --padding-inline: 1em;

    cursor: pointer;
    font-weight: 500;
    border: transparent;
    border-radius: var(--border-radius);
    padding:  var(--padding-block) var(--padding-inline);
    background-color: transparent;
}

.btn--light{
    background-color: #F2F2F2;
    color: #0F0F0F;

    &:focus,
    &:hover{
        background-color: #E5E5E5;
    }
}
.selected{
    background-color: #606060;
    color: #F1F1F1;

    &:focus,
    &:hover{
        background-color: #606060;
        color: #F1F1F1;
    }
}

@media screen and (min-width: 64em) {
    .selected{
        background-color: #0F0F0F;
        color: #F1F1F1;

        &:focus,
        &:hover{
            background-color: #0F0F0F;
            color: #F1F1F1;
        }
    }
}

.btn--light-hover{
    --padding-block: .5em;
    --padding-inline: .5em;

    &:focus,
    &:hover{
        background-color: #F2F2F2;
    }
}

.btn--outline-light{
    border: 1px solid #E5E5E5;
    color: #0F0F0F;

    &:focus,
    &:hover{
        background-color: #F2F2F2;
    }
}

.btn--dark-blue{
    background-color: #065FD4;
    color: #F1F1F1;

    &:focus,
    &:hover{
        background-color: #0556BF;
    }
}

/* HEADER */
@media screen and (min-width: 64em) {
    .header{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }
}

.header__wrapper{
    border-bottom: 1px solid #E5E5E5;
    padding: .75em;
    background-color: #FFFFFF;
    color: #0F0F0F;
}

@media screen and (min-width: 64em) {
    .header__wrapper{
        padding: .375em 1em;
        border: none;
    }
}

/* NAVBARS */
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 64em) {
    .header-nav--mobile{
        display: none;
    }
}

.header-nav--desktop{
    display: none;
}

@media screen and (min-width: 64em) {
    .header-nav--desktop{
        display: flex;
    }
    
    .header-nav__item{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.logo__lang{
    font-size: 10px;
    margin: -.375rem 0 0 .125rem;
}

@media screen and (min-width: 64em) {
    .search{
        min-width: 0;
        flex: 0 1 562px;
    }
}

.search__wrapper{
    flex: 1;
    border: 1px solid #C6C6C6;
    border-radius: 100vmax;
    align-items: center;
    box-shadow: inset 0 1px 2px #EEE;
}

.form{
    flex: 1;
    position: relative;
    padding: 0 .25em 0 1em;
}

.form__input{
    width: 100%;
    border: none;
    outline: none;
}

.search__kb{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: .5rem;
    opacity: .5;

    &:hover{
        opacity: 1;
    }
}

.search__btn{
    --padding-block: .375em;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #E5E5E5;
    background-color: #F8F8F8;

    &:focus,
    &:hover{
        background-color: #F0F0F0;
    }
}

.login__btn{
    --padding-block: .375em;
    --padding-inline: .75em;

    align-items: center;
    gap: .25rem;

    &:focus,
    &:hover{
        background-color: #DEF1FF;
    }
}

/* main */
.main-nav{
    position: fixed;
    z-index: 100;
}

.main-nav--mobile{
    right: 0;
    bottom: 0;
    left: 0;
}

@media screen and (min-width: 64em) {
    .main-nav--mobile{
        display: none;
    }
}

.main-nav--desktop{
    display: none;
}

@media screen and (min-width: 64em) {
    .main-nav--desktop{
        display: block;
        top: 53px;
        bottom: 0;
        left: 0;
        padding: 0 .25em;
    }
}

.main-nav__wrapper{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: .5em;
    background-color: #F2F2F2;
}

@media screen and (min-width: 64em) {
    .main-nav__wrapper{
        flex-direction: column;
        align-items: center;
        padding: 0;
        background-color: transparent;
    }
}

.main-nav__item{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0;
}

@media screen and (min-width: 64em) {
    .main-nav__item{
        --padding-block: 0;
        --padding-inline: 0;
        --border-radius: 8px;
        
        width: 64px;
        font-weight: 400;
        padding-block: 1em;
    }
}

/* filter */
.filter-nav{
    background-color: #FFFFFF;
}

@media screen and (min-width: 50em) {
    .filter-nav{
        border-bottom: 1px solid #E5E5E5;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 64em) {
    .filter-nav{
        position: fixed;
        top: 52px;
        right: 0;
        left: 72px;
        border: none;
        z-index: 100;
    }
}

@media screen and (min-width: 64em) {
    .filter-nav--mobile{
        display: none;
    }
}

.filter-nav--desktop{
    display: none;
}

@media screen and (min-width: 64em) {
    .filter-nav--desktop{
        display: block;
    }
}

.filter-nav__wrapper{
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: .5em .75em;

    .svg{
        flex-shrink: 0;
    }
    
    .btn{
        --border-radius: 8px;
        --padding-block: .5em;
        --padding-inline: .75em;
    }
}

@media screen and (min-width: 64em) {
    .filter-nav__wrapper{
        padding-inline: 0;
    }
}

.topic-nav{
    display: flex;
    gap: .75rem;
}

.topic-nav__item{
    font-size: 14px;
    white-space: nowrap;
}

/* CONTENT GRID */
.content__wrapper{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-bottom: 1.25rem;
    padding-bottom: 3.5em;
}

@media screen and (min-width: 50em) {
    .content__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 0;
        margin-bottom: 4rem;
        padding: .75em;
    }
}

@media screen and (min-width: 64em) {
    .content__wrapper{
        margin: 103px 0 0 72px;
        padding: 0;
    }
}

/* AD */
@media screen and (min-width: 50em) {
    .publicity{
        grid-column: span 2;
    }
}

.publicity__wrapper{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

@media screen and (min-width: 50em) {
    .publicity__wrapper{
        display: grid;
        grid-template: repeat(2, auto) / 300px auto;
    }
}

.propaganda{
    position: relative;
}

@media screen and (min-width: 50em) {
    .propaganda{
        grid-column: span 1;
        grid-row: span 2;
    }
}

.propaganda__img{
    aspect-ratio: 4/3;
    object-fit: cover;
}

@media screen and (min-width: 50em) {
    .propaganda__img{
        aspect-ratio: 21/9;
    }
}

.propaganda__button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: .5rem;
    margin-right: .5rem;
    background-color: #0f0f0fb0;
    color: #F1F1F1;

    &.btn{
        --padding-block: .5em;
        --padding-inline: .5em;
    }
}

.ad{
    width: fit-content;
    display: flex;
    gap: .75rem;
}

.ad__info{
    display: flex;
    flex-flow: column nowrap;
    gap: .25rem;
}

.ad__button{
    text-align: center;
    margin-inline: .75em;
}

@media screen and (min-width: 50em) {
    .ad__button{
        grid-column: 2;
    }
}

/* VIDEOS */
.video,
.video__wrapper{
    display: flex;
    flex-flow: column nowrap;
}

.video{
    gap: 1.5rem;
}

@media screen and (min-width: 50em) {
    .video{
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem 1.125rem;
    }
}

.video__wrapper{
    gap: 1rem;
}

/* player */
.player{
    position: relative;
}

.player__timestamp{
    user-select: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 500;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: .5rem;
    margin-right: .5rem;
    padding-inline: .25em;
    background-color: #0f0f0f99;
    color: #F1F1F1;
}

/* channel */
.channel{
    width: fit-content;
    display: flex;
    gap: .75rem;
}

.channel__info{
    display: flex;
    flex-flow: column nowrap;
    gap: .25rem;
}
