@import url(normalize.css);

/* fonts: roboto (regular [400, 500, 700]) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --main-primary-color: hsl(0, 0%, 95%);
    --main-secondary-color: hsl(0, 0%, 83%);
    --main-tertiary-color: hsl(0, 0%, 45%);
  }

html,
body {
    font-size: 1rem;
    background-color: #ffffff;
}

body{
    font-family: 'Roboto', Arial, sans-serif;
}

header#main_header{
    position: fixed;
    z-index: 1;

    width: 100vw;
    height: fit-content;

    padding: 10px 0;
    background-color: #ffffff;
}

nav.menu_main{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 0;
    width: calc(100vw - 15px);
}

nav.menu_main > div{
    margin: 0;
    padding: 0 15px;
}

.menu_home,
.menu_search,
.menu_user-actions,
.menu_user-login{
    display: flex;
    flex-flow: row nowrap;
    
    align-items: center;
    justify-content: space-between;

    width: fit-content;
}

.menu_home img:first-child,
.menu_user-actions img:first-child{
    margin: 0 20px 0 10px;
}

#website_logo{
    width: 5.625rem;
    height: 1.25rem;
}

.menu_search{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    position: relative;
}

.menu_search .round.colored img{
    margin: 0;
    padding: 0.625rem 0.625rem 0.313rem;
}

.menu_search .round.colored{
    margin: 0 15px;
}

input[type="search"]{
    width: 31.625rem;
    height: 2.5rem;

    margin-right: 0;
    padding: 0.625rem 0.313rem;

    text-indent: 0.625rem;
    
    outline: none;
    border: none;
    border-radius: 1.25rem 0 0 1.25rem;

    border-top: 1px solid var(--main-secondary-color);
    border-bottom: 1px solid var(--main-secondary-color);
    border-left: 1px solid var(--main-secondary-color);
}

input + .icon:first-of-type{
    position: absolute;
    right: 9.6rem;

    opacity: .5;
}

input + .icon:first-of-type:hover{
    opacity: 1;
}

input ~ .colored .icon{
    width: 1.125rem;
    height: 1.125rem;

    padding: 0.625rem;
    margin-left: 0.625rem;
}

input ~ .colored:first-of-type{
    width: 3.75rem;
    height: 2.375rem;

    border: 1px solid var(--main-secondary-color);
    
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
}

.menu_user-actions .icon{
    width: 1.25rem;
    height: 1.25rem;
}

#more_options{
    width: 24px;
    height: 24px;
}

.menu_user-login > *{
    margin: 0;
    padding: 5px 0;
}

.menu_user-login{
    padding: 2px 12px;

    border: 1px solid var(--main-secondary-color);
    border-radius: 40px;
}

.menu_user-login:hover{
    background-color: hsl(214, 94%, 95%);
    border: 1px solid transparent;
}

.menu_user-login svg{
    margin-right: 5px;
}

.menu_user-login p{
    font-size: 14px;
    font-weight: 500;
    color: #065fd4;
}

.avatar{
    width: 2.188rem;
    height: 2.188rem;
    
    object-fit: cover;
    border-radius: 50px;
}

.icon,
svg{
    width: fit-content;
    height: 1.25rem;
}

.other{
    border-radius: 30px;
    font-weight: 500;
}

.round.colored{
    height: 2.5rem;
}

.round{
    width: fit-content;
    border-radius: 50px;
}

.colored{
    background-color: var(--main-primary-color);
}

section#main_navbar{
    position: fixed;
    top: 56px;

    overflow-y: scroll;

    width: 230px;
    height: 700px;
    padding: 10px;
}

#main_navbar ul,
.suggested_categories{
    padding: 0;
    list-style-type: none;
}

nav.menu_section{
    height: fit-content;
}

.menu_section ul{
    margin: 0;
    border-bottom: 1px solid var(--main-secondary-color);
}

.nav_section-title{
    margin: 20px 0 5px 15px;

    font-size: 16.5px;
    font-weight: 500;
}

.menu_section ul li{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    font-size: 14px;

    padding: 10px 15px;
    border-radius: 10px;
}

.menu_section li:hover:not(.selected_menu-category,
.menu_login-cameo li){
    background-color: var(--main-primary-color);
}

.menu_section li:first-child{
    margin-top: 10px;
}

.menu_section li:last-child{
    margin-bottom: 10px;
}

.menu_section li > svg{
    margin-right: 20px;
}

.menu_section li > a{
    text-decoration: none;
    color: inherit;
}

.menu_section li.selected_menu-category{
    font-weight: 500;
    background-color: var(--main-primary-color);
}

.menu_login-cameo{
    width: 200px;
}

footer{
    width: 190px;
    padding: 15px 10px 10px 10px;

    font-size: 12px;
    color: var(--main-tertiary-color);
}

footer p{
    margin: 15px 0 0;
}

.footer_links{
    font-size: 14px;
    font-weight: 500;
    color: var(--main-tertiary-color);
}

.footer_links ul{
    margin: 0 0 10px 0;
}

.footer_links ul li{
    display: inline-block;
    cursor: pointer;
    
    margin: 2px 0;
    width: fit-content;
}

section#suggested_topics-navbar article{
    position: relative;
}

#suggested_topics-navbar article ul + .icon{
    position: absolute;

    right: 0;
    top: 0;
}

main{
    display: flex;
    flex-flow: column nowrap;

    padding: 20px;

    position: absolute;
    top: 60px;
    left: 240px;
}

.suggested_categories{
    margin: 0 0 0.938rem 0;
    padding: 0;

    list-style-type: none;
}

.suggested_categories li{
    display: inline;

    font-size: 0.906rem;
    font-weight: 500;
    
    margin: 0 0.188rem 0 0;
    padding: 0.5rem 0.656rem;

    border-radius: 8px;
    background-color: var(--main-primary-color);
}

.suggested_categories li:not(:first-of-type){
    margin: 0 0.188rem;
}

.suggested_categories li:not(.selected_suggested-category):hover{
    background-color: var(--main-secondary-color);
}

.suggested_categories li.selected_suggested-category{
    color: white;
    background-color: black;
}

section.suggested_videos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.video_thumbnail{
    width: 400px;
    height: 225px;

    aspect-ratio: 16 / 9;
}