/* reset */
*,
*::before,
*::after { box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
}

body { min-height: 100vh; }

img,
picture,
svg{
  display: block;
  max-width: 100%;
}

button{ font: inherit; }

/* general */
body{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-size: clamp(1.063rem, 5vw - 1.25rem, 1.2rem);
    line-height: 1.5;
    background-color: #08080C;
    color: #ffffffcc;
}

a{
    text-decoration: none;
    color: inherit;
}

/* typography */
h1, h2, h3{
    line-height: 1.2;
    text-wrap: balance;
}

h1, .title--feature{ font-size: clamp(2rem, 5vw - 1rem, 2.25rem); }
h2{ font-size: clamp(1.5rem, 5vw - 1.5rem, 1.75rem); }
h3{ font-size: clamp(1.375rem, 5vw - 1.25rem, 1.5rem); }

p {
    max-width: 65ch;
    margin-bottom: 1.125rem;
}

.title{
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #33A8DB;
}

.title + p{ margin-top: .75rem; }

.title--hero,
.title--feature{
    font-weight: 900;
    letter-spacing: 0;
}

.title--hero{
    background: -webkit-linear-gradient(#33A8DB, #1472B7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title--feature{
    text-transform: lowercase;
    text-shadow: 3px 2px #33A8DB;
    margin: 0;
    color: #fff;
}

@media screen and (min-width: 45em){
    .title--feature{
        width: 220px;
        text-align: left;
        text-wrap: balance;
        margin-right: auto;
    }
}

/* components */
.container{
    max-width: clamp(320px, 90%, 800px);
    margin: auto;
}

.btn{
    border-image: linear-gradient(0deg, #33A8DB 0%, #1472B7 100%) 1;
    border-width: 2px;
    border-style: solid;
    padding: 1em 1.5em;
    transition: color .2s ease-out;

    &:focus,
    &:hover{
        border-image: linear-gradient(0deg, #E5E044 0%, #b79f14 100%) 1;
        color: #E5E044;
    }
}

@media screen and (min-width: 45em) {
    .btn{ padding: 1em 2.5em; }
}

/* clusters */
.hero,
.details,
.feature,
.wrap-up,
.cta{
    text-align: center;
    padding-inline: 1.125em;
}

@media screen and (min-width: 65em) {
    .hero,
    .details,
    .feature,
    .wrap-up,
    .cta{ padding-inline: 1.25em; }
}

.hero,
.details,
.feature,
.wrap-up{
    padding-block: 3.75rem;
    border-bottom: 1px solid #33A8DB;
}

@media screen and (min-width: 45em){
    .hero,
    .details,
    .feature,
    .wrap-up{ padding-block: 4.5rem; }
}

.hero__img-wrapper,
.cta__img{
    width: fit-content;
    margin: 0 auto;
}

/* HEADER: hero */
.hero{
    background: url("../images/banner.png") 5% 0% / cover no-repeat,
    linear-gradient(0deg, transparent 0%, rgba(51, 169, 219, 0.2) 50%, transparent 100%);
}

.hero__img-wrapper{
    position: relative;
    margin-bottom: 3rem;

    &::before{
        content: "";
        display: flex;
        position: absolute;
        z-index: -1;
        width: 240px;
        height: 230px;
        border-radius: 100vmax;
        background-color: hsla(0, 0%, 0%, 1);
    }
}

.hero__preface{
    margin-bottom: 2.5rem;
}

@media screen and (min-width: 45em) {
    .hero__preface{ margin-bottom: 2.5rem; }
}

.hero__link{
    font-weight: 900;
    font-size: 1rem;
}

/* MAIN: details */
.list{
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.125rem;
    margin: 1.125rem 0;
}

@media screen and (min-width: 45em){
    .list{ margin: 1.25rem 0; }
}

.list__item{
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #33A8DB;
    padding: .75em 1.25em;
    background-color: #252525;
    border-radius: 100vmax;
    box-shadow: inset -2px 6px 4px 0px rgba(0, 0, 0, .4);
}

@media screen and (min-width: 45em){
    .list__item{
        width: 90%;
        flex-direction: row;
        justify-content: center;
        gap: .5rem;
        margin: 0 auto;
    }
}

@media screen and (min-width: 65em){
    .list__item{ width: 80%; }
}

.list__index{
    font-weight: 500;
    color: #33A8DB;
}

/* MAIN: feature */
.feature{
    display: flex;
    justify-content: center;
    height: 300px;
    background: url("../images/woman-code.png") center / cover no-repeat fixed;
}

@media screen and (min-width: 45em){
    .feature{
        display: block;
        background-position: top;
    }

    .container--feature{
        max-width: clamp(320px, 90%, 1000px);
        margin: auto;
    }
}

@media screen and (min-width: 65em){
    .feature{ background-position: center; }
}

/* FOOTER: cta */
.cta{
    padding-block: 2em;
    background: linear-gradient(0deg, rgba(51, 169, 219, 0.2) 0%, transparent 100%);
}

.cta__body{ margin-top: 1rem; }

.cta__img{ width: 246px; }

@media screen and (min-width: 45em){
    .cta__img{ width: initial; }
}

.cta__redirect{
    font-size: .875rem;
    margin: .5rem auto 0;
}

.cta__link{
    font-weight: 700;
    color: #E5E044;
    transition: color .2s ease-out;

    &:focus,
    &:hover{ color: #33A8DB; }
}
