@import url(normalize.css);

/* fonts: roboto (regular [400, 500, 700]) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --main-primary-color: #f2f2f2;
    --main-secondary-color: #707070;
  }

html,
body {
    font-size: 1rem;
    background-color: #ffffff;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 65px;
}

nav.menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 0 65px;
}

.menu > *{
    padding: 5px;
    margin: 5px;
}

.menu div > *{
    margin-right: 5px;
    margin-left: 5px;
}

#website_logo{
    width: 90px;
    height: 20px;
}

.menu_search{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

input[type="search"]{
    width: 400px;
    height: 35px;

    margin-right: 0;
    padding: 10px 5px;

    text-indent: 10px;
    
    outline: none;
    border: none;
    border-radius: 20px 0 0 20px;

    border-top: 1px solid var(--main-secondary-color);
    border-bottom: 1px solid var(--main-secondary-color);
    border-left: 1px solid var(--main-secondary-color);
}

input + img.avatar.icon_svg{
    margin: 0;
    padding: 0 20px 0 15px;

    height: 32.5px;
    
    background-color: var(--main-primary-color);
    border-radius: 0 20px 20px 0;

    border-top: 1px solid var(--main-secondary-color);
    border-right: 1px solid var(--main-secondary-color);
    border-bottom: 1px solid var(--main-secondary-color);
    border-left: 1px solid var(--main-secondary-color);
}

.avatar{
    width: 28px;
    height: 28px;
}

.avatar_user-channel,
.avatar_streaming-channel{
    border-radius: 50%;
}

.avatar_streaming-channel{
    width: 40px;
    height: 40px;
}

.icon_svg{
    width: 24px;
    height: 24px;
}

main{
    display: flex;
    flex-flow: row nowrap;

    margin: 10px 80px;
}

.video{
    border-radius: 10px;
}

section.video_container{
    width: 952px;
    height: 746px;

    display: flex;
    flex-flow: column nowrap;

    margin-right: 20px;
}

.video_container > *{
    margin: 0;
}

.video_content{
    width: 946px;
    height: 532px;
}

#video_streaming{
    width: 100%;
}

#video_title{
    font-size: 18px;    
}

.video_actions{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.video_actions > div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.video_actions .icon_svg{
    width: 20px;
}

.video_actions.reaction img + p{
    padding-right: 10px;
    border-right: 1px solid black;
}

.video_actions.other img:first-of-type{
    padding-right: 5px;
}

.video_actions.other + .video_actions.other img{
    margin-left: 10px;
}

.video_actions.other + .video_actions.other p{
    margin-right: 10px;
}

.channel_info > *{
    margin: 3px 10px;
}

.channel_info p + p{
    font-size: 12.5px;
    color: var(--main-secondary-color);
}

.channel_info p:first-of-type{
    font-weight: bold;
}

#subscribe_button,
.reaction,
.other{
    margin: 5px 10px;
    padding: 5.5px 15px;
    
    width: 120px;
    height: 25px;

    border-radius: 30px;
    background-color: var(--main-primary-color);
}

#subscribe_button{
    height: 35.5px;

    font-size: 14px;
    font-weight: bold;

    border: none;
    color: white;
    background-color: black;
}

details{
    cursor: pointer;
}

#video_details-info{
    margin: 10px 0;
    padding: 10px;

    background-color: var(--main-primary-color);
    border-radius: 10px;
}

.video_details-data{
    display: flex;
    flex-flow: row nowrap;
}

.video_details-data p,
.video_details-description p{
    margin: 5px;
}

.video_details-data p + p{
    color: var(--main-secondary-color);
}

.video_details-data p{
    font-size: 14px;
    font-weight: bold;
}

section.sidebar{
    display: flex;
    flex-flow: column nowrap;

    margin-bottom: 10px;
}

.sidebar > article {
    width: 350px;
    margin-top: 10px;
}

.sidebar article:first-of-type{
    margin-top: 0;
}

.recommended_sidebar-video{
    display: flex;
    flex-flow: row nowrap;
}

.recommended_sidebar-video_info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    font-size: 14px;
    margin: 0 0 0 6.5px;
}

.recommended_sidebar-video_info > *{
    margin: 0;
}

.recommended_sidebar-video_info > p + p{
    font-size: 12.5px;
}

.recommended_sidebar-video_info p:first-of-type{
    font-weight: bold;
    margin-bottom: 5px;
}

.recommended_sidebar-video_info p:not(:first-of-type){
    font-size: 11px;
    color: var(--main-secondary-color);

    margin-bottom: 3px;
}

.video_thumbnail{
    width: 150px;
}