/* reset */
*,
*::before,
*::after { box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
}

body { min-height: 100vh; }

img,
svg{
  display: block;
  max-width: 100%;
}

input,
button{ font: inherit; }

/* general */
body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #FFFFFF;
    color: #0F0F0F;
}

a{ text-decoration: none; }

/* utilities */
@media screen and (max-width: 50em){
    .sm\:d-block{
        display: block !important;
    }

    .sm\:d-none{
        display: none !important;
    }
}

@media screen and (min-width: 50em){
    .md\:d-block{
        display: block !important;
    }

    .md\:d-none{
        display: none !important;
    }
}

@media screen and (min-width: 64em) {
    .lg\:d-none{
        display: none !important;
    }

    .lg\:d-block{
        display: block !important;
    }
}

@media screen and (min-width: 73.5em) {
    .xlg\:d-none{
        display: none !important;
    }

    .xlg\:d-block{
        display: block !important;
    }
}

@media screen and (min-width: 85em) {
    .xxlg\:d-none{
        display: none !important;
    }

    .xxlg\:d-block{
        display: block !important;
    }
}

/* typography */
h1, h2, h3, h4{ line-height: 1.2; }

p { max-width: 65ch; }

.video-title{
    font-size: 20px;
    font-weight: 500;
}

@media screen and (min-width: 50em){
    .video-title{
        font-weight: 700;
    }
}

.suggested-video-title{
    font-size: initial;
    font-weight: 400;
}

@media screen and (min-width: 50em) {
    .suggested-video-title{
        font-weight: 500;
    }
}

@media screen and (min-width: 64em) {
    .suggested-video-title{
        font-size: 14px;
    }
}

.fs-primary{
    font-size: 20px;
}

.fs-secondary{
    font-size: 14px;
}

@media screen and (min-width: 64em) {
    .fs-secondary{
        font-size: 12px;
    }
}

.fw-500{
    font-weight: 500;
}

.text-secondary{
    color: #606060;
}

/* svg */
.svg__item{
    width: 24px;
    height: 24px;
}

/* buttons: styles */
.btn{
    cursor: pointer;
    font-weight: 500;
    border-color: transparent;
    border-radius: 100vmax;
    padding: .375em .625em;
    background-color: transparent;
}

.btn--light{
    background-color: #F2F2F2;

    &:focus,
    &:hover{
        background-color: #E5E5E5;
    }
}

.btn--dark{
    background-color: #0F0F0F;
    color: #F1F1F1;

    &:focus,
    &:hover{
        background-color: #272727;
    }
}

.btn--outline-light{
    border: 1px solid #F1F1F1;

    &:focus,
    &:hover{
        background-color: #272727;
    }
}

@media screen and (min-width: 64em) {
    .btn--outline-blue:focus,
    .btn--outline-blue:hover{
        background-color: #DEF1FF !important;
    }

    .btn--outline-dark{
        border: 1px solid #D3D3D3;

        &:focus,
        &:hover{
            background-color: #E5E5E5;
        }
    }
}

/* buttons: element specific */
.btn--svg{
    padding: .375em;
}

.btn--header:focus,
.btn--header:hover{
    background-color: #3F3F3F;
}

@media screen and (min-width: 64em) {
    .btn--header:focus,
    .btn--header:hover{
        background-color: #E5E5E5;
    }
}

.btn--keyboard{
    position: absolute;
    top: 0;
    right: 0;
    opacity: .5;

    &:focus,
    &:hover{
        opacity: 1;
    }
}

.btn--search{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (min-width: 50em) {
    .btn--search{
        border-left: 1px solid #303030;
        padding-inline: 1.25em 1em;
        background-color: #272727;
    }
}

@media screen and (min-width: 64em) {
    .btn--search{
        border-left: 1px solid #C6C6C6;
        background-color: #F2F2F2;
    }
}

.btn--mic{
    background-color: #272727;

    &:focus,
    &:hover{
        background-color: #3F3F3F;
    }
}

@media screen and (min-width: 64em) {
    .btn--mic{
        background-color: #F2F2F2;

        &:focus,
        &:hover{
            background-color: #E5E5E5;
        }
    }
}

.btn--video{
    padding: 0;
}

/* action */
.action{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.action--video{
    overflow-x: scroll;
    scrollbar-width: none;
    margin-inline: -1.125rem;
    padding-inline: 1.125rem;
}

@media screen and (min-width: 36em) {
    .action--video{
        justify-content: flex-end;
    }
}

@media screen and (min-width: 50em) {
    .action--video{
        overflow: initial;
        margin-inline: 0;
        padding-inline: 0;
    }   
}

.action__item{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.action__item--wrapper{
    border-radius: 100vmax;
    background-color: #F2F2F2;
}

.action__button{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.action__button--like{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 1px solid #E5E5E5;
}

.action__button--dislike{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* HEADER */
.header{
    background-color: #0F0F0F;
    color: #F1F1F1;
}

@media screen and (min-width: 64em) {
    .header{
        background-color: #FFFFFF;
        color: #0F0F0F;
    }
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1.125em;
}

/* HEADER: menu */
.menu__wrapper{
    display: flex;
    align-items: center;
    gap: .75rem;
}

.logo{
    cursor: pointer;
    display: flex;
    gap: .25rem;
}

.logo__img{
    width: 93px;
    height: 20px;
}

.logo__lang{
    display: none;
    font-size: 10px;
    opacity: .65;
    margin-top: -.375rem;
}

@media screen and (min-width: 50em) {
    .logo__lang{
        display: block;
    }
}

/* HEADER: search */
.search__wrapper{
    display: flex;
    align-items: center;
    gap: .75rem;
}

@media screen and (min-width: 50em) {
    .input{
        display: flex;
        align-items: center;
        border: 1px solid #303030;
        border-radius: 100vmax;
    }
}

@media screen and (min-width: 64em) {
    .input{
        border: 1px solid #C6C6C6;
    }
}

.input__wrapper{
    position: relative;
}

.input__entry,
.search__mic{
    display: none;
}

@media screen and (min-width: 50em) {
    .input__entry,
    .search__mic{
        display: block;
    }
}

.input__entry{
    width: 262px;
    font-size: .875rem;
    border-color: transparent;
    border-top-left-radius: 100vmax;
    border-bottom-left-radius: 100vmax;
    padding-block: .5em;
    padding-left: .875em;
    background-color: #121212;
    color: #F1F1F1;

    &:focus{
        outline: 1px solid #065FD4;
        border-color: transparent;
    }
}

@media screen and (min-width: 64em) {
    .input__entry{
        width: 476px;
        position: relative;
        background-color: #FFFFFF;
        color: #0F0F0F;

        &:focus{
            outline-offset: 1px;
        }
    }
}

/* HEADER: login */
.redirect__wrapper{
    display: flex;
    align-items: center;
    gap: .75rem;
}

@media screen and (min-width: 64em) {
    .redirect__wrapper{
        color: #065FD4;
    }
}

/* CONTENT LAYOUT */
.content,
.suggested{
    display: flex;
    flex-flow: column nowrap;
}

@media screen and (min-width: 64em){
    .content{
        flex-direction: row;
        justify-content: center;
    }
}

.video,
.suggested{
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
}


@media screen and (min-width: 64em) {
    .video,
    .suggested{
        padding-inline: 0 1.125em;
        padding-block: 1.125em;
    }

    .video{
        width: 80%;
        margin-left: 1.5rem;
    }

    .video--suggested{
        width: 100% !important;
        margin-left: 0;
        padding-block: 0;
    }
}

@media screen and (min-width: 85em){
    .video{
        width: 66%;
    }

    .suggested{
        width: 28%;
    }
}

/* VIDEO */
.video__wrapper{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    padding-inline: 1.125em;
}

@media screen and (min-width: 64em) {
    .video__wrapper{
        padding-inline: 0;
    }
}

.video__wrapper--suggested{
    cursor: pointer;
    padding-inline: 0;
}

@media screen and (min-width: 50em) {
    .video__wrapper--suggested{
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (min-width: 64em) {
    .video__wrapper--suggested{
        gap: .5rem;
    }
}

/* VIDEO: player */
.player{
    position: relative;
    margin-inline: -1.125rem;
}

@media screen and (min-width: 64em) {
    .player{
        margin-inline: 0;
    }
}

.player--suggested{
    margin-inline: 0;
}

@media screen and (min-width: 64em) {
    .player__img{
        border-radius: 12px;
    }
}

@media screen and (min-width: 50em) {
    .player__img--suggested{
        max-width: revert;
        width: 268px;
        border-radius: 12px;
    }
}

@media screen and (min-width: 64em) {
    .player__img--suggested{
        width: 168px;
    }
}

.player__timestamp,
.player__button{
    position: absolute;
}

.player__button{
    top: 50%;
    left: 50%;
    width: 68px;
    height: 48px;
    margin-left: -34px;
    margin-top: -24px;
    opacity: .75;
}

.player__timestamp{
    user-select: none;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    padding-inline: .25em;
    margin: 0 .5rem .5rem 0;
    background-color: #0f0f0faf;
    color: #F1F1F1;
}

/* VIDEO: info */
.info{
    display: flex;
    flex-flow: column nowrap;
}

.unlisted{
    width: fit-content;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-block: .375rem;
    padding-inline: .25em;
    background-color: #F2F2F2;
}

.group{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

@media screen and (min-width: 50em) {
    .group{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 64em) {
    .group{
        flex-direction: column;
    }
}

@media screen and (min-width: 73.5em) {
    .group{
        flex-direction: row;
    }
}

.group--suggested{
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    padding-inline: .625em;
}

@media screen and (min-width: 50em) {
    .group--suggested{
        flex-grow: 1;
        gap: 1rem;
        padding-inline: 0;
    }
}

.channel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 50em) {
    .channel{
        gap: 1.75rem;
    }
}

.channel--suggested{
    width: fit-content;
}

.channel__wrapper,
.channel__info{
    gap: .75rem;
}

.channel__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel__wrapper--suggested{
    align-items: flex-start;
}

@media screen and (min-width: 50em) {
    .channel__wrapper--suggested{
        flex-direction: column;
    }
}

.channel__avatar{
    width: 34px;
    height: 34px;
    border-radius: 100vmax;
}

@media screen and (min-width: 50em) {
    .channel__avatar{
        width: 42px;
        height: 42px;
    }

    .channel__avatar--suggested{
        order: 2;
    }
}

.channel__info{
    display: flex;
}

@media screen and (min-width: 50em) {
    .channel__info{
        flex-direction: column;
        gap: 0;
    }
}

.channel__info--suggested{
    flex-direction: column;
    gap: 0;
}

/* VIDEO: comments */
.comments{
    background-color: #F2F2F2;
    border-radius: 8px;
}

@media screen and (min-width: 50em) {
    .comments{
        background-color: transparent;
    }
}

.comments__wrapper{
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    padding: .5em;
}

@media screen and (min-width: 50em) {
    .comments__wrapper{
        gap: 1.25rem;
        padding-inline: 0;
        padding-block: 1em;
    }
}

.comments__tip{
    display: flex;
    gap: 1.25rem;
}

@media screen and (min-width: 50em) {
    .comments__tip{
        flex-direction: row;
    }
}

.group--comments{
    flex-direction: row;
    gap: .375rem;
}

.user{
    display: flex
}

.user__img{
    width: 42px;
    height: 42px;
    border-radius: 100vmax;
}

.user__input{
    flex-grow: 1;
    border: transparent;
    border-radius: 100vmax;
    margin-inline: 1rem;
    padding: .25em;
    padding-left: 1em;
    background-color: #E5E5E5;

    &::placeholder{
        color: #0F0F0F;
    }
}

@media screen and (min-width: 50em) {
    .user__input{
        align-self: baseline;
        border-bottom: 1px solid #F2F2F2;
        border-radius: 0;
        padding-left: 0;
        background-color: transparent;
        transition: border-bottom-color .2s ease-in;
    
        &::placeholder{
            color: #606060;
        }

        &:focus{
            outline: none;
            border-bottom-color: #606060;
        }
    }
}

/* SUGGESTED */
.suggested__wrapper{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    border-top: 1px solid #F2F2F2;
    padding-block: 1.125em;   
}

@media screen and (min-width: 50em){
    .suggested__wrapper{
        border-top: none;
        padding-inline: 1.125em;
    }
}

@media screen and (min-width: 64em){
    .suggested__wrapper{
        gap: .5rem;
        padding: 0;
    }
}
